export NODE_ENV=development

export BLOG_TABLE=Blog-${NODE_ENV}
export DYNAMODB_PORT=8042

export API_PORT=4040
export REACT_APP_API_URL=http://localhost:${API_PORT}

export TOKEN_SECRET=
export REACT_APP_TOKEN_SECRET=${TOKEN_SECRET}
